{
  "presets": ["next/babel"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "bash",
          "c",
          "cpp",
          "csharp",
          "css",
          "diff",
          "elixir",
          "erlang",
          "go",
          "haskell",
          "java",
          "javascript",
          "json",
          "jsx",
          "julia",
          "kotlin",
          "latex",
          "lua",
          "markdown",
          "markup",
          "ocaml",
          "php",
          "python",
          "r",
          "ruby",
          "rust",
          "scala",
          "scheme",
          "smalltalk",
          "sql",
          "swift",
          "toml",
          "tsx",
          "typescript",
          "vb",
          "yaml"
        ]
      }
    ]
  ]
}
