{
  "presets": ["next/babel"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "css",
          "markup",
          "typescript",
          "python",
          "tsx",
          "jsx"
        ]
      }
    ]
  ]
}
